/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Titan+One&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;


  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(0, 0%, 100%);
  --first-color-dark: hsl(0, 0%, 100%);
  --first-color-darken: rgba(0, 0, 0, 0.8);
  --second-color: hsl(45, 100%, 52%);
  --second-color-dark: hsl(45, 100%, 20%);
  --white-color: rgba(0, 0, 0, 0.9);
  --shadow-img: drop-shadow(0 12px 24px hsla(0, 0%, 0%, .4));
  --shadow-circle: 0 12px 24px hsla(0, 0%, 0%, .4);
  --shadow-button: 0 -4px 8px hsla(0, 0%, 0%, .3);
  --shadow-card: 0 -8px 24px hsla(0, 0%, 0%, .3);
  --shadow-text: 0 2px 4px var(--first-color-darken);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Titan One", sans-serif;
  --biggest-font-size: 3.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--first-color);
  color: var(--white-color);
  place-items: center;
}

/* ========PRELOADER========= */
.preloader1 {
  height: 100vh;
  display: grid;
  place-items: center;
}

.pl {
  display: block;
  width: 6.25em;
  height: 6.25em;
}

.pl__ring,
.pl__ball {
  animation: ring 2s ease-out infinite;
}

.pl__ball {
  animation-name: ball;
}

/* Animation */
@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }

  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }

  50%,
  to {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}

@keyframes ball {

  from,
  50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }

  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }

  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }

  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }

  57%,
  71%,
  85%,
  99%,
  to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
}

/* =============PRELOADER END========== */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-weight: var(--font-regular);
  font-family: var(--second-font);
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
  text-shadow: var(--shadow-text);
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 130px;
}

.nav__logo {
  color: var(--white-color);
  font-family: var(--second-font);
  text-shadow: var(--shadow-text);


}

.nav__logo img {
  padding-top: 20px;
}

.nav__close,
.nav__toggle {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--first-color-dark);
    width: 100%;
    height: 100%;
    padding: 7rem 1.5rem 2.5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left .4s;
  }
}

.nav__list,
.nav__social {
  display: flex;
}

.nav__list {
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__link:hover {
  color: var(--second-color);
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

.nav__social {
  column-gap: 1rem;
  align-self: flex-end;
}

.nav__social-link {
  color: var(--white-color);
  font-size: 1.5rem;
  transition: color .4s;
}

.nav__social-link:hover {
  color: var(--second-color);
}

/* Navigation for mobile devices */


/* Show menu */
.show-menu {
  left: 0;
}

/* Shadow header */
.shadow-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, .15);
}

/* Active link */
.active-link {
  color: var(--second-color);
}

/*=============== HOME ===============*/
.home__container {
  padding-top: 5.5rem;
  justify-content: center;
  row-gap: 4rem;
}

.home__data {
  position: relative;
  text-align: center;
}

.home__title {
  font-size: 3.9rem;
  font-weight: var(--font-regular);
  font-family: var(--second-font);
  line-height: 100%;
  margin-bottom: 1rem;
  text-shadow: var(--shadow-text);
  letter-spacing: 1px;
  padding-bottom: 2rem;
}

.home__meat {
  width: 40px;
  position: absolute;
  top: 10rem;
  margin-top: -2rem;
  right: 0;
  /* opacity: .5; */
  rotate: -15deg;
}

.home__description {
  margin-bottom: 2.5rem;
}

.home__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.home__images {
  position: relative;
  display: grid;
  place-items: center;
  justify-self: center;
}

.home__circle {
  width: 320px;
  height: 320px;
  background-color: var(--first-color-darken);
  border-radius: 50%;
  box-shadow: inset var(--shadow-circle);
  display: grid;
  place-items: center;
}

.home__subcircle {
  width: 250px;
  height: 250px;
  background-color: var(--second-color);
  border-radius: 50%;
  box-shadow: inset var(--shadow-circle);
}

.home__images .home__img {
  width: 250px;
  rotate: 10deg;
  filter: var(--shadow-img);
  position: absolute;
  transition: .5s;
}

.home__images .home__img:hover {
  rotate: -15deg;

}

.home__images img {
  width: 60px;
  filter: var(--shadow-img);
  position: absolute;
}

.home__chips-1 {
  right: -.5rem;
}

.home__chips-2 {
  bottom: -.75rem;
  right: .5rem;
}

.home__chips-3 {
  top: .25rem;
  left: -.5rem;
}

.home__tomato-1 {
  top: -1.5rem;
  right: 2.2rem;
}

.home__tomato-2 {
  left: 3.5rem;
  bottom: -1.5rem;
}

.home__leaf {
  left: -.75rem;
}

/*=============== BUTTON ===============*/
.button {
  background-color: var(--second-color);
  color: var(--second-color-dark);
  font-weight: var(--font-semi-bold);
  padding: .75rem 2rem;
  border-radius: 4rem;
  box-shadow: inset var(--shadow-button);
}

.button__ghost {
  background-color: transparent;
  box-shadow: none;
  border: 3px solid var(--second-color);
  color: var(--second-color);
}

/*=============== FAVORITES ===============*/
.favorites__container {
  row-gap: 3rem;
  grid-template-columns: 100%;
  padding-top: 3rem;
}

.favorites__data {
  position: relative;
  text-align: center;
}

.favorites__cheese-1,
.favorites__cheese-2 {
  width: 40px;
  position: absolute;
  opacity: .5;
}

.favorites__cheese-1 {
  top: 2rem;
  right: -1rem;
  rotate: -15deg;
}

.favorites__cheese-2 {
  bottom: -2rem;
  left: -.75rem;
  transform: scaleX(-1) rotate(45deg);
}

.facorites__article {
  position: relative;
  width: 200px;
}

.favorites__img {
  width: 200px;
  scale: .8;
  transition: scale .4s, filter .4s;
}

.favorites__leaf-1,
.favorites__leaf-2 {
  width: 70px;
  position: absolute;
  filter: var(--shadow-img);
  scale: 0;
  transition: scale .4s .1s;
}

.favorites__leaf-1 {
  top: -1rem;
  right: -.5rem;
}

.favorites__leaf-2 {
  bottom: -1rem;
  left: -.5rem;
}

/* Swiper class */
.swiper {
  margin-inline: initial;
  overflow: visible;
}

:is(.swiper-slide-active, .swiper-slide-duplicate-active) .favorites__img {
  scale: 1;
  filter: var(--shadow-img);
}

:is(.swiper-slide-active, .swiper-slide-duplicate-active) .favorites__leaf-1,
:is(.swiper-slide-active, .swiper-slide-duplicate-active) .favorites__leaf-2 {
  scale: 1;

}

/*=============== CARE ===============*/
.care {
  background-color: var(--first-color-dark);
}

.care .about__description {
  text-align: center;
}

.care__container {
  row-gap: 3rem;
  padding-block: 1rem 2rem;
}

.caer_list {
  display: grid;
  row-gap: 1.25rem;
}

.care__item {
  display: flex;
  column-gap: .75rem;
  align-items: center;
}

.care__item i {
  font-size: 1.5rem;
  color: var(--second-color);
}

.care__img {
  width: 320px;
  filter: var(--shadow-img);
  justify-self: center;
}

.about_contenta p {
  padding-bottom: 1.5rem;
}


/*=============== BANNER ===============*/
.banner {
  padding-top: 3rem;
}

.banner__container {
  background-color: var(--second-color);
  padding: 1rem 1.5rem;
}

.banner__list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}

.banner__item {
  color: var(--second-color-dark);
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.banner__item i {
  font-size: 1.5rem;
}

.banner__item span {
  font-size: var(--small-font-size);
  font-family: var(--second-font);
}

/* ============Nutritional Advantages================= */
.nutritional {
  margin-top: 9rem;
  text-align: center;

}

.nutritional h2 {
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.circle__container {
  text-align: center;
  margin-left: 300px;
  position: relative;
}

.chilly_group {
  position: absolute;
  left: 150px;
  top: 120px;
}

.n__contents {
  position: relative;
}

.n_img img {

  position: absolute;

}

.n_img_1,
.n_img_2,
.n_img_3,
.n_img_4 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 194, 10, 0.9);
  border-radius: 50%;
  padding: 20px;
}

.n_img_1 {
  bottom: 250px;
  left: 10px;
}

.n_img_2 {
  bottom: 250px;
  left: 450px;
}

.n_img_3 {
  bottom: 60px;
  left: -50px;
}

.n_img_4 {
  bottom: 60px;
  left: 470px;
}

.n_text_content_1 {
  position: absolute;
  left: -300px;
  bottom: 220px;
  text-align: end;

}

.n_text_content_2 {
  position: absolute;
  left: 560px;
  bottom: 220px;
  text-align: start;
}

.n_text_content_3 {
  position: absolute;
  bottom: 60px;
  left: -370px;
  text-align: end;
}

.n_text_content_4 {
  position: absolute;
  bottom: 40px;
  left: 580px;
  text-align: start;
}

.discription-content {
  width: 300px;
}

.tittle_n {
  font-size: var(--h3-font-size);
  font-family: var(--second-font);
  padding-bottom: 10px;
}

@media screen and (max-width: 1120px) {
  .circle__container {
    width: 60%;

  }

  .circle__container .center__circle {
    width: 70%;
  }

  .chilly_group {

    left: 120px;
    top: 90px;
  }

  .n_img_1 {
    bottom: 200px;
    left: 10px;
  }

  .n_img_2 {
    bottom: 190px;
    left: 350px;
  }

  .n_img_3 {
    bottom: 30px;
    left: -50px;
  }

  .n_img_4 {
    bottom: 30px;
    left: 370px;
  }

  .n_text_content_1 {
    position: absolute;
    left: -250px;
    bottom: 190px;


  }

  .n_text_content_2 {
    position: absolute;
    left: 460px;
    bottom: 190px;

  }

  .n_text_content_3 {
    position: absolute;
    bottom: 0px;
    left: -310px;

  }

  .n_text_content_4 {

    bottom: 5px;
    left: 480px;

  }

  .discription-content {
    width: 250px;
  }
}

@media screen and (max-width: 1030px) {
  .circle__container {
    width: 60%;
    margin-left: 270px;

  }

  .chilly_group {
    width: 30%;
    margin-left: -20px;

  }

  .discription-content {
    width: 200px;
    font-size: 13px;
  }

  .n_text_content_1 {
    left: -200px;
  }

  .n_text_content_3 {
    left: -265px;

  }

  .n_text_content_4 {

    bottom: 5px;
    left: 480px;

  }


}

@media screen and (max-width: 960px) {

  .n_img_1,
  .n_img_2,
  .n_img_3,
  .n_img_4 {
    width: 80px;
    height: 80px;

  }

  .circle__container {
    
    margin-left: 270px;

  }

  .chilly_group {
    width: 30%;
    margin-left: -20px;

  }

  .n_img_2 {
    left: 300px;
  }

  .n_img_4 {
    bottom: 30px;
    left: 330px;
  }
  .n_text_content_1{
    top: -260px;
  }
  .n_text_content_2 {
    left: 390px;
    top: -250px;
  }

  .n_text_content_4 {
    left: 420px;
  }
}

@media screen and (max-width:850px) {
  .circle__container {
    margin-left: 240px;
  }
  .n_img_2{
    left: 250px;
    bottom: 190px;
  }
  .n_text_content_2{
    left: 340px;
  }
  .n_img_4{
    left: 300px;
  }
  .n_text_content_4{
    left: 390px;
  }
 
}
@media screen and (max-width:800px){
  .chilly_group {
    display: none;
  }
  .center__circle{
    display: none;
  }
  .n_img img {
    position: unset;
  }
  .n_text_content_1,
  .n_text_content_2,
  .n_text_content_3,
  .n_text_content_4{
    position: unset;
    text-align: start;
    padding-bottom: 20px;
  }
  .n__contents{
    display: flex;
    gap: 10px;
   
  }
 .circle__container{
  margin-left: unset;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  
 }
 .n__contents{
  flex-direction: column;
 }
}
@media screen and (max-width:600px){
  .circle__container{
    grid-template-columns: repeat(1, 1fr); 
  }
}

/* ===========Why Choose=========== */
.why__choose {
  margin-top: 6rem;
}

.why__choose__description {
  width: 60%;
  margin: auto;
  text-align: center;
  position: relative;

}

.why__data {
  position: relative;
  padding-bottom: 2rem;
}

.tomato__1,
.tomato__2 {
  width: 72px;
  position: absolute;
  opacity: 0.5;

}

.tomato__1 {
  right: 6rem;
  bottom: 9rem;
  rotate: -20deg;

}

.tomato__2 {
  left: 5rem;
  top: 9rem;
}

.why__choose__contents {
  padding: 6rem 0;
  display: flex;
  justify-content: space-between;
  gap: 4rem;

}

.why__choose__box {
  border-radius: 4rem;
  box-shadow: inset var(--shadow-button);
  padding: 6rem 2rem;
  text-align: center;
  transition: 0.5s;

}

.why__icon {
  padding-bottom: 2rem;



}

.why__icon i {
  width: 50px;
  height: 50px;
  background: rgba(255, 194, 10, 0.9);
  text-align: center;
  border-radius: 50%;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: #fff;


}

.why__content__tittle {
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  padding-bottom: 1rem;
}

.why__choose__disc {
  max-width: 300px;
}

@media screen and (max-width: 980px) {
  .why__choose__contents {
    flex-direction: column;
  }

  .why__choose__disc {
    width: 90%;
    margin: auto;
    padding: 10px;
  }
}

@media screen and (max-width: 576px) {

  .tomato__1,
  .tomato__2 {
    width: 44px;
    position: absolute;
    opacity: 0.5;

  }

  .tomato__1 {
    right: 4rem;

  }

  .tomato__2 {
    left: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .tomato__1 {
    right: 2rem;

  }

  .tomato__2 {
    left: 2rem;
  }
}

@media screen and (max-width: 380px) {
  .tomato__1 {
    right: 1rem;
    bottom: 4rem;
  }

  .tomato__2 {
    left: 50px;
    bottom: 50px;

  }
}

/*=========our value========== */
.our__value{
  margin-top: 6rem;
  
}
.our__value__content{
  border-radius: 4rem;
  box-shadow: inset var(--shadow-button);
  padding: 6rem 2rem;
  transition: 0.5s;
}
.our_value_text_box{
  width: 80%;
  margin: auto;
  
}
.our__value__content_box{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}
.our__value__icon{
  font-size: 2rem;
  color: rgba(255, 194, 10, 0.9);
}

/*=============== PRODUCTS ===============*/
.products__container {
  position: relative;
  padding-top: 4.5rem;
}

.products__content {
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 1.5rem;
}

.products__card {
  position: relative;
  background-color: var(--first-color-dark);
  padding: 6.25rem .75rem 1.25rem;
  border-radius: 1rem;
  box-shadow: inset var(--shadow-card);
  z-index: 10;
}

.products__img {
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  width: 100px;
  margin: 0 auto;
  filter: var(--shadow-img);
  transition: transform .4s;
}

.products__subtitle {
  font-size: var(--small-font-size);
}

.products__tittle {
  font-weight: var(--font-regular);
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}

.products__price {
  font-family: var(--second-font);
}

.products__button {
  position: absolute;
  right: .75rem;
  bottom: 1.25rem;
  outline: none;
  border: none;
  background-color: var(--second-color);
  padding: 4px;
  border-radius: .25rem;
  color: var(--second-color-dark);
  box-shadow: inset var(--shadow-button);
  display: inline-flex;
  cursor: pointer;
}

.products__card:hover .products__img {
  transform: translateY(-.5rem);
}

.product__crab,
.product__hamburger,
.product__cheese {
  position: absolute;
  width: 40px;
  /* opacity: .5; */
}

.product__crab {
  top: -2.5rem;
  left: 0;
  rotate: 30deg;
}

.product__hamburger {
  top: 17rem;
  right: -1.5rem;
  rotate: -15deg;
}

.product__cheese {
  left: 2rem;
  right: 0;
  margin: 0 auto;
  bottom: 3rem;
  rotate: 15deg;
}

/* ==========Product Page============== */
.product__section {
  margin-top: 200px;
}

.chicken__chips {
  display: flex;
  justify-content: space-between;
  position: relative;
  column-gap: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 250px;
  background-color: var(--first-color-dark);
  padding: 100px;
  border-radius: 1rem;
  box-shadow: inset var(--shadow-card);
}

.chiken__img {
  display: inline-flex;
  gap: 2rem;
}

.chiken__img:hover img {
  transform: translateY(-.9rem);
}

.chips__1,
.chips__2,
.chips__3,
.chips__4 {
  width: 200px;
  position: absolute;
  top: -100px;
  transition: .5s;

}

.chips__1,
.chips__2,
.chips__3,
.chips__4:hover {
  transform: translateY(10deg);
}

.chips__content {
  margin-left: 300px;

}

.chips__content {
  position: absolute;
  top: 0;
  padding: 2rem 0;


}

.chips__content h3 {
  font-size: var(--h3-font-size);
  font-family: var(--second-font);
  letter-spacing: 0.2px;

}

.subtittle__product__page {
  width: 80%;
  margin: auto;
  text-align: center;
}

.chips__content P {
  width: 60%;
  padding-top: 1rem;
  font-size: 14px;
  padding-bottom: 10px;

}

.chips__btn {
  width: 32px;
  height: 32px;
  font-size: 18px;
  outline: none;
  border: none;
  background-color: var(--second-color);
  border-radius: .25rem;
  color: var(--second-color-dark);
  box-shadow: inset var(--shadow-button);
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 965px) {
  .chicken__chips {
    margin-top: 100px;
    flex-direction: column;
    min-height: 450px;
  }

  .chips__content {
    position: unset;
    margin-top: 50px;
  }

  .chips__content h2 {
    position: absolute;
    left: 22%;
    top: 40%;
  }

  .chips__content p {
    width: 50%;
    text-align: start;
    position: absolute;
    margin-top: 55px;
    padding: 0 20px;
    left: 20%;
    padding-bottom: 20px;


  }

  .chips__content span {
    position: absolute;
    bottom: 0;
    left: 22%;
    top: 80%;
  }

  .chips__1,
  .chips__2,
  .chips__3,
  .chips__4 {
    right: 40%;
  }

  .chips__btn {
    position: absolute;
    top: 80%;
    right: 10%;


  }


}

@media screen and (max-width: 776px) {

  .chips__1,
  .chips__2,
  .chips__3,
  .chips__4 {
    right: 35%;
  }

  .chips__content h2 {
    top: 40%;
  }

  .chips__content span {
    top: 83%;
    left: 20%;

  }

  .chips__content p {
    left: 18%;
  }

  .chips__btn {
    top: 83%;
  }

}

@media screen and (max-width: 666px) {
  .chips__content span {
    top: 86%;
  }

  .chips__btn {
    top: 86%;
  }
}

@media screen and (max-width: 585px) {

  .chips__1,
  .chips__2,
  .chips__3,
  .chips__4 {
    right: 30%;
  }

  .chips__content h2 {
    top: 40%;
  }

  .chips__content p {
    width: 80%;
    left: 18%;

  }

  .chips__content span {
    top: 80%;
  }

  .chips__btn {
    top: 80%;
  }
}

@media screen and (max-width: 456px) {

  .chips__1,
  .chips__2,
  .chips__3,
  .chips__4 {
    right: 25%;
  }

  .chips__content span {
    top: 85%;
  }

  .chips__btn {
    top: 85%;

  }
}

@media screen and (max-width: 376px) {
  .chicken__chips {

    min-height: 520px;
  }

  .chips__1,
  .chips__2,
  .chips__3,
  .chips__4 {
    right: 20%;
  }

  .chips__content p {

    left: 15%;

  }
}

/* ===============GET IN TOUCH========= */
.get-in-touch {
  margin-top: 100px;
  background-color: unset;
  box-shadow: unset;

}
.get__in__touch__title{
  font-weight: var(--font-regular);
  font-family: var(--second-font);
  font-size: var(--h1-font-size);
  text-align: center;
  text-shadow: var(--shadow-text);
}


.get-in-touch-desc{
  width: 80%;
  margin: auto;
  padding-bottom: 3rem;
  text-align: center;

}

.get-in-touch-content {
  display: flex;
  gap: 3rem;
  justify-content: center;

}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.map iframe {
  width: 500px;
  height: 350px;
  border: none;
}

@media screen and (max-width: 921px) {
  .get-in-touch-content {
    flex-direction: column;
  }

  .map iframe {
    text-align: center;
    width: auto;

  }
}

/*=============== CONTACT ===============*/
.contact__container {
  position: relative;
  background-color: var(--first-color-darken);
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
  border-radius: 3rem;
  box-shadow: var(--shadow-card);
  overflow: hidden;
}

@media screen and (max-width: 921px) {
  .contact__container {
    padding-bottom: unset;
  }
}

.contact__content {
  padding-top: 1rem;
  row-gap: 3rem;
}

.contact__data {
  text-align: center;
}

.contact__title {
  font-weight: var(--font-regular);
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
  color: #fff;

}

.contact_tittle {
  color: #fff;
}

.contact__social {
  display: flex;
  justify-content: center;
  column-gap: .75rem;
}

.contact__social a {
  color: var(--second-color);
  font-size: 1.5rem;
}

.contact__info {
  font-style: normal;
  color: var(--second-color);
  padding-bottom: 2rem;
  z-index: 100;
}

.contact__img {
  width: 200px;
  justify-self: center;
  filter: var(--shadow-img);
  margin-top: 20px;
}

.contact__shrimp,
.contact__crab,
.contact__meat {
  position: absolute;
  width: 40px;
  opacity: .5;
}

.contact__shrimp {
  top: 9rem;
  right: 1.5rem;
  rotate: 15deg;
}

.contact__crab {
  top: 17rem;
  left: 1rem;
  rotate: 15deg;
}

.contact__meat {
  right: 2rem;
  bottom: 11rem;
  rotate: -15deg;
}

.contact-phone {
  color: var(--second-color);
}

/*=============== FOOTER ===============*/
.footer {
  padding-block: 3rem 2rem;
}

.footer__container {
  row-gap: 2rem;
}

.footer__logo {
  color: var(--white-color);
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  justify-self: center;
  text-shadow: var(--shadow-text);
}

.footer__content {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  row-gap: 3.5rem;
}

.footer__copy {
  grid-column: 1/3;
  text-align: center;
}

.footer__link {
  color: var(--white-color);
  transition: color .4s;
}

.footer__link:hover {
  color: var(--second-color);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  background-color: #000;
}

::-webkit-scrollbar-thumb {

  background-color: #000;
}

::-webkit-scrollbar-thumb:hover {

  background-color: rgba(255, 194, 10, 0.9);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--first-color-dark);
  color: var(--white-color);
  box-shadow: inset var(--shadow-button);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
}

.scrollup:hover {
  transform: translateY(-.5rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .section__title {
    font-size: var(--h2-font-size);
  }

  .hoem__title {
    font-size: 3rem;
  }

  .home__buttons {
    flex-direction: column;
    row-gap: 1rem;

  }

  .home__circle {
    width: 250px;
    height: 250px;
  }

  .home__subcircle {
    width: 200px;
    height: 200px;
  }

  .home__images .home__img {
    width: 200px;
  }

  .products__content {
    grid-template-columns: 160px;
    justify-content: center;
  }

  .footer__content {
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 1.5rem;
  }

  .footer__copy {
    grid-column: 1;
  }
}

/* For medium devices */
@media screen and (min-width: 540px) {

  .home__container,
  .favorites__container,
  .care__container {
    grid-template-columns: 370px;
    justify-content: center;
  }

  .favorites__swiper {
    max-width: 600px;
    overflow-x: clip;
    justify-self: center;

  }

  .products__content {
    grid-template-columns: repeat(2, 160px);
    justify-content: center;
  }

  .contact {
    display: grid;
    grid-template-columns: 450px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .products__content {
    grid-template-columns: repeat(3, 160px);
  }

  .contact {
    grid-template-columns: 550px;
  }

  .footer__content {
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    align-items: center;
  }

  .footer__copy {
    grid-column: initial;
  }

  .footer__link:nth-child(2) {
    order: 1;
  }
}

/* For large devices */

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .section__title {
    margin-bottom: 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);

  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .nav__menu {
    display: flex;
    column-gap: 3rem;
    align-items: center;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .home__container {
    grid-template-columns: 420px 558px;
    align-items: center;
    column-gap: 6rem;
    padding-top: rem;
  }

  .home__data {
    text-align: initial;
  }

  .home__title {
    margin-bottom: 1.5rem;
  }

  .home__description {
    margin-bottom: 4rem;
  }

  .home__buttons {
    justify-content: initial;
    column-gap: 1.5rem;
  }

  .home__meat {
    width: 80px;
    top: 13rem;
  }

  .home__circle {
    width: 550px;
    height: 550px;
  }

  .home__subcircle {
    width: 430px;
    height: 430px;
  }

  .home__images .home__img {
    width: 400px;
  }

  .home__images img {
    width: 95px;
  }

  .favorites__container {
    grid-template-columns: 520px;
    row-gap: 4rem;
  }

  .favorites__cheese-1,
  .favorites__cheese-2 {
    width: 80px;
  }

  .favorites__cheese-1 {
    right: -18rem;
  }

  .favorites__cheese-2 {
    left: -18rem;
  }

  .favorites__swiper {
    max-width: 1000px;
  }

  .facorites__article,
  .favorites__img {
    width: 320px;
  }

  .favorites__leaf-1,
  .favorites__leaf-2 {
    width: 110px;
  }

  .care__container {
    grid-template-columns: 500px 410px;
    column-gap: 6rem;
    align-items: center;
    padding-block: 4rem;
  }

  .care__img {
    width: 550px;
    order: -1;
  }

  .care__item {
    column-gap: 1rem;
  }

  .care__item i {
    font-size: 2rem;
  }

  .banner {
    padding-top: 4rem;
  }

  .banner__list {
    column-gap: 6.5rem;
  }

  .banner__item {
    column-gap: 1rem;
  }

  .banner__item i {
    font-size: 4.5rem;
  }

  .banner__item span {
    font-size: var(--h1-font-size);
  }

  .products__container {
    padding-top: 7.5rem;
  }

  .products__content {
    grid-template-columns: repeat(3, 250px);
    gap: 10rem 4rem;
  }

  .products__card {
    padding: 11rem 2rem 2rem;
    border-radius: 1.5rem;
  }

  .products__img {
    width: 170px;
    top: -5rem;
  }

  .products__subtitle {
    font-size: var(--normal-font-size);
  }

  .products__price {
    font-size: var(--h3-font-size);
  }

  .products__button {
    right: 2rem;
    bottom: 2rem;
    padding: 6px;
    font-size: 1.5rem;
    border-radius: .5rem;
    text-align: center;
  }

  .product__crab,
  .product__hamburger,
  .product__cheese {
    width: 80px;
  }

  .products__crab {
    top: 2rem;
  }

  .product__hamburger {
    top: 30rem;
    right: 3rem;
  }

  .product__cheese {

    margin: initial;
  }

  .contact {
    display: block;
  }

  .contact__container {
    border-radius: 4rem;
  }

  .contact__content {
    grid-template: 330px / 360px 320px;
    justify-content: center;
    align-items: flex-start;
    column-gap: 10rem;
    padding-top: 2rem;
  }

  .contact__data {
    text-align: initial;
    grid-template: max-content / repeat(2, max-content);
    gap: 3rem 2rem;
  }

  .contact__title {
    margin-bottom: .75rem;
  }

  .contact__social {
    justify-content: initial;
  }

  .contact__img {
    width: 320px;
    transform: translateY(-6rem);
  }

  .contact__shrimp,
  .contact__crab,
  .contact__meat {
    width: 80px;
  }

  .contact__shrimp {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20rem;
  }

  .contact__crab {
    top: 5rem;
    left: 4rem;
  }

  .contact__meat {
    right: inherit;
    left: 12rem;
    bottom: -1rem;
  }

  .footer {
    padding-block: 5rem 3rem;
  }

  .footer__container {
    row-gap: 3rem;
  }

  .scrollup {
    right: 3rem;
  }
}